@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Source+Sans+Pro&display=swap");

/* MOBILE FIRST */

/* MENÚ CONTAINER*/
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color-dark: #6082a7;
    --first-color-light: #5db6d9;
    --white-color: #fefefe;
    --dark-shadow: #333133;
    --green: #85c88a;
    --brand-font: "Handlee", cursive;
    --body-font: "Source Sans Pro", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}
*,
::before,
::after {
    box-sizing: border-box;
    font-family: var(--body-font);
}
.container {
    position: relative;
    margin: calc(var(--header-height) + 2rem) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
}
a {
    text-decoration: none;
    color: black;
}
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
}

.header_title {
    font-family: var(--brand-font);
}
.landing h1 {
    text-shadow: white 1px 1px 2px;
}


.welcome img {
    filter: drop-shadow(5px 5px 10px #ffffff);
}
.header_toggle {
    color: var(--first-color-light);
    font-size: 1.5rem;
    cursor: pointer;
}
.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.header_img img {
    width: 40px;
}
.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color-light);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
    margin-bottom: 2rem;
}
.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}
.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}
.nav_link {
    position: relative;
    color: var(--dark-shadow);
    margin-bottom: 1.5rem;
    transition: 0.3s;
}
.nav_link:hover {
    color: var(--white-color);
}
.nav_icon {
    font-size: 1.25rem;
}
.show {
    left: 0;
}
.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}
.active {
    color: var(--white-color);
}
.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}
.height-100 {
    height: 100vh;
}

.index {
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

.cardContainer {
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card {
    position: relative;
    box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
    border-radius: 0.9rem;
    background-color: var(--red-card);
    color: var(--text);
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 7rem;
}

.card img {
    max-width: 80%;
    width: 25%;
    padding: 0.1rem;
    user-select: none;
    filter: blur(3);
}

.icon {
    width: 100%;
    margin-top: 35%;
    justify-content: center;
    align-items: center;
    transform: translate(0, -1.5rem);
    transition: transform 500ms ease-in-out;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
}

.card:hover .icon {
    transform: translate(-1.5rem, -7rem) rotate(-20deg);
}

.svg {
    fill: #fff;
    transition: all 500ms ease;
}

.icon p {
    font-size: 1rem;
}
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.container-login100-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #85c88a;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    color: #fff;
}

.login100-form-btn:hover:before {
    opacity: 0;
}

/* LANDING PAGE*/
.welcome {
    background: linear-gradient(
        149deg,
        #5db6d9 0%,
        #45aed8 50%,
        #6082a7 100%,
        #6684a5 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.landing h1{
    font-size: 4rem;
}
.landing h4{
    font-size: 1.2rem;
}

.welcome img{
    max-width: fit-content;
}

.instructions {
    background-color: var(--dark-shadow);
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
    gap: 1rem;
}

.instructions div {
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        149deg,
        #5db6d9 0%,
        #45aed8 50%,
        #6082a7 100%,
        #6684a5 100%
    );
}

.instructions span {
    font-family: var(--brand-font);
    font-weight: bolder;
    font-size: 4rem;
}
.instructions p {
    text-align: center;
}

.instructions div {
    background-color: var(--first-color-dark);
    filter: drop-shadow(0px 0px 5px var(--first-color-light));
    box-shadow: #333133 1px 0px 10px 0px;
    border-radius: 0.5rem;
    color: white;
}

.invite {
    background-color: var(--first-color-dark);
}

/*WORKING AREA*/
.timeControl {
    background-color: rgb(219, 215, 215);
}

@media screen and (min-width: 768px) {
    .container {
        margin: calc(var(--header-height) + 4rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
        max-width: 100%;
    }
    .header {
        height: calc(var(--header-height) + 2rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header_img {
        width: 40px;
        height: 40px;
    }

    .header_img img {
        width: 45px;
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    .show {
        width: calc(var(--nav-width) + 156px);
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }

    .main {
        width: 90%;
        display: grid;
        margin: 0 auto;
        padding: 2rem;
        gap: 3rem;
    }

    .cardContainer {
        height: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .card {
        position: relative;
        box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
        border-radius: 0.9rem;
        background-color: var(--red-card);
        color: var(--text);
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 10rem;
    }

    .card img {
        max-width: 50%;
        width: 25%;
        padding: 1%;
        user-select: none;
        filter: blur(3);
    }

    .icon {
        width: 100%;
        padding: 1rem;
        display: flex;
        margin-top: 4rem;
        justify-content: center;
        transform: translate(0, -1.5rem);
        transition: transform 500ms ease-in-out;
        filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
    }

    .icon p {
        font-size: larger;
    }

    .welcome {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 6rem;
    }

    .landing > h1 {
        font-size: 3.5rem;
    }
    .landing h4 {
        font-size: 1.6rem;
    }

    .landing button {
        font-size: 1.2rem;
    }

    .workingArea {
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding: 1.5rem;
        gap: 7rem;
    }

    .instructions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .instructions div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem;
    }
}

.brandH1 {
    font-family: var(--brand-font);
    text-align: center;
}
