@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Source+Sans+Pro&display=swap");

/* MOBILE FIRST */

/* MENÚ CONTAINER*/
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color-dark: #6082a7;
    --first-color-light: #5db6d9;
    --white-color: #fefefe;
    --dark-shadow: #333133;
    --green: #85c88a;
    --brand-font: "Handlee", cursive;
    --body-font: "Source Sans Pro", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

.btn-main {
    background-color: var(--first-color-light);
    color: var(--white-color);
}

.btn-main:hover {
    background-color: var(--first-color-dark);
    color: white;
}

.container {
    position: relative;
    /* margin: calc(var(--header-height) + 2rem) 0 0 0; */
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
}
a {
    text-decoration: none;
    color: black;
}
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
}
.bg-custom {
    background-color: var(--first-color-light) !important;
}

.bg-custom-dark {
    background-color: var(--first-color-dark) !important;
}
.colorCustom {
    color: var(--first-color-light) !important;
    font-size: 2rem;
}
.colorCustom2 {
    color: var(--first-color-light) !important;
}
.hr {
    width: 80%;
}
.card:hover .colorCustom {
    font-size: 2.5rem;
    transition: 0.5s;
}
.card:not(:hover) .colorCustom {
    font-size: 2rem;
    transition: 0.5s;
}
.boxshadow {
    -webkit-box-shadow: 10px 10px 5px -3px rgba(96, 130, 167, 0.51);
    -moz-box-shadow: 10px 10px 5px -3px rgba(96, 130, 167, 0.51);
    box-shadow: 10px 10px 5px -3px rgba(96, 130, 167, 0.51);
}

.header_title {
    font-family: var(--brand-font);
}
.header_title span {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 10px !important;
}
.landing h1 {
    text-shadow: white 1px 1px 2px;
}

.welcome img {
    max-width: fit-content;
    filter: drop-shadow(5px 5px 10px #ffffff);
}

.header_toggle {
    color: var(--first-color-light);
    font-size: 1.5rem;
    cursor: pointer;
}
.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.header_img img {
    width: 40px;
}
.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color-light);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
    margin-bottom: 2rem;
}
.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}
.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}
.nav_link {
    position: relative;
    color: var(--dark-shadow);
    margin-bottom: 1.5rem;
    transition: 0.3s;
}
.nav_link:hover {
    color: var(--white-color);
}
.nav_icon {
    font-size: 1.25rem;
}
.showMenu {
    left: 0;
}
.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}
.active {
    color: var(--white-color);
}
.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}

.cardContainer {
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card {
    position: relative;
    border-radius: 0.9rem;
    color: var(--text);
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 10rem;
}
.cardContainer:hover .card {
    box-shadow: 5px 5px 1px var(--first-color-light);
    transform: translateY(-0.5rem);
}

.cardContainer:hover p {
    color: var(--first-color-light);
}

.card p {
    margin: 0;
}

.card img {
    max-width: 80%;
    width: 25%;
    user-select: none;
    filter: blur(3);
}

.icon {
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: transform 500ms ease-in-out;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
}

.svg {
    fill: #fff;
    transition: all 500ms ease;
}

.icon p {
    font-size: 1rem;
}
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.container-login100-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    font-size: 16px;
    color: #555555;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #85c88a;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn.login {
    background-color: var(--first-color-dark);
}

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    color: #fff;
}

.login100-form-btn:hover:before {
    opacity: 0;
}

/* LANDING PAGE*/
.welcome {
    background: linear-gradient(
        149deg,
        #5db6d9 0%,
        #45aed8 50%,
        #6082a7 100%,
        #6684a5 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 4rem;
}

.welcome h4 {
    font-family: var(--brand-font);
}

.landing h1 {
    font-size: 4rem;
}
.landing h4 {
    font-size: 1.2rem;
}

.instructions {
    background-color: var(--dark-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4rem;
}

.instructions div {
    margin: 1rem 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        149deg,
        #5db6d9 0%,
        #45aed8 50%,
        #6082a7 100%,
        #6684a5 100%
    );
    background-color: var(--first-color-dark);
    filter: drop-shadow(0px 0px 5px var(--first-color-light));
    box-shadow: #333133 1px 0px 10px 0px;
    border-radius: 0.5rem;
    color: white;
    width: 20rem;
}

.instructions span {
    font-family: var(--brand-font);
    font-weight: bolder;
    font-size: 4rem;
}
.instructions p {
    font-family: var(--body-font);
    color: white;
    text-align: center;
    padding: 1rem;
}

.invite {
    background-color: var(--green);
}

.invite .container-login100 {
    position: inherit;
}

/*WORKING AREA*/
.timeControl {
    background: var(--dark-shadow);
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    color: white;
    font-size: 1rem;
}

.timeControl span {
    font-size: 0.7rem;
}

.working-inactive {
    height: 20rem;
    background-color: #f9f4f4;
    border-radius: 10px;
}

.workingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.workingStart .card {
    width: 100%;
    align-items: center;
    display: flex;
    border: 2px solid var(--first-color-light);
    box-shadow: 5px 5px 10px rgb(224, 220, 220);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    position: relative;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.workingStart .card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--first-color-light);
    width: 32px;
    height: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.4s ease-out;
    color: white;
}

.workingStart .card:hover:before {
    transform: scale(500);
}

.workingStart .cardContainer:hover a {
    background-color: var(--first-color-light);
    box-shadow: 5px 5px 1px var(--dark-shadow);
    color: white;
}
.workingStart .cardContainer:hover p {
    color: white !important;
}

.workingStart .card div:first-child > p {
    font-size: 1.6rem;
}

.workingStart form {
    width: 100%;
}

.corner {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: var(--first-color-light);
    border-radius: 0 4px 0 32px;
}

.play {
    margin-top: 2px;
    font-family: "Source Sans Pro", sans-serif;
    margin-left: 5px;
    color: white;
    font-size: 1.5rem;
}

.cardContent p:first-child {
    font-size: 2rem;
}

.workingList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.task {
    border-radius: 0.9rem;
    background-color: var(--first-color-dark);
    border: 2px solid var(--first-color-light);
    box-shadow: 5px 5px 10px rgb(224, 220, 220);
    text-align: center;
    color: white;
    width: 100%;
    font-size: 1rem;
}

.task.delayed {
    background-color: var(--dark-shadow);
}

.card.task .play {
    font-size: 1rem;
}

.card.task {
    padding: 1.5rem;
}

.workingStart .card.task .corner {
    width: 100%;
    background-color: var(--first-color-light);
    transition: background-color 0.3s ease-in-out;
}

.workingStart .cardContainer:hover .card.task .corner {
    background-color: var(--first-color-dark);
    transition: background-color 0.3s ease-in-out;
}
.workingStart .cardContainer:hover .card.task.delayed .corner {
    background-color: var(--dark-shadow);
    transition: background-color 0.3s ease-in-out;
}

.task div p,
span {
    font-size: 1rem !important;
}

.workingArea span {
    font-size: 1.5rem !important;
}

/* NOTES WORKING AREA*/

.notesArea ul,
li {
    list-style: none;
}

.notesArea ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 2rem;
    justify-content: center;
}
.notesArea ul li {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    width: 15rem;
    height: 15rem;
    padding: 1rem;
}

.notesArea ul li a {
    display: flex;
    width: 100%;
    height: 100%;
}

.notesArea textarea {
    width: 100%;
    height: 80%;
    background-color: transparent;
    border: none;
}

/* CALENDAR */

.calendarContainer {
    height: 80vh;
}
.fc-view-container {
    width: 100% !important;
}

.fc .fc-button {
    font-size: 0.6rem;
}

#formDelete {
    height: 100%;
}

.task-finished,
.task-finished:hover {
    background-color: var(--green);
    color: rgba(0, 0, 0, 0.418);
    cursor: not-allowed;
}

.task-finished::after {
    content: "";
    background-image: url("../../public/img/check.png");
    background-size: 100%;
    margin-right: 5px;
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

@media screen and (min-width: 1024px) {
    .workingList {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        margin: calc(var(--header-height) + 4rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
        max-width: 100%;
    }
    .header {
        height: calc(var(--header-height) + 2rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
    .header_img {
        width: 40px;
        height: 40px;
    }

    .header_img img {
        width: 45px;
    }
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    .showMenu {
        width: calc(var(--nav-width) + 156px);
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }

    .main {
        width: 90%;
        display: grid;
        margin: 0 auto;
        padding: 2rem;
        gap: 3rem;
    }

    .cardContainer {
        height: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .card {
        width: 100%;
        height: 10rem;
    }

    .card img {
        max-width: 50%;
        padding: 1%;
    }

    .icon {
        display: flex;
        justify-content: center;
    }

    .icon p {
        font-size: larger;
    }

    .welcome {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0 6rem;
        height: 100vh;
    }

    .landing > h1 {
        font-size: 3.5rem;
    }
    .landing h4 {
        font-size: 1.3rem;
    }

    .landing button {
        font-size: 1.2rem;
    }

    .instructions {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .instructions div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem;
    }

    /* WORKING AREA*/
    .workingArea {
        width: 100%;
        display: flex;
        gap: 2rem;
    }

    .workingContainer {
        text-align: start;
    }

    .timeControl span {
        font-size: 2rem;
    }

    .timeControl {
        padding: 3.5rem;
    }
    .workingList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        min-width: fit-content;
    }

    .notesArea ul {
        justify-content: flex-start;
    }

    /*CALENDAR*/

    .fc .fc-button {
        font-size: 1rem;
    }
}

.brandH1 {
    font-family: var(--brand-font);
    text-align: center;
}
.box {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
}

.analyticsTasks .card {
    height: 100%;
}
.carta {
    position: relative;
    height: 260px;
    background: #fff;
    margin: 3rem auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.carta:before,
.carta:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index: -1;
}
.carta:hover:before {
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.carta:hover:after {
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    background-color: var(--first-color-dark);
}
.carta.isdefault:hover:after {
    background-color: #5db6d9;
}
/* .carta:hover:after.isdefault {
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    background-color: #000;
} */
.carta .imgBx {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;

    transition: 0.5s;
    z-index: 1;
}

.carta:hover .imgBx {
    bottom: 80px;
}

.carta .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carta .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.carta .details h2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    color: #777;
    text-transform: uppercase;
}

.carta .details h2 span {
    font-weight: 500;
    font-size: 16px;
    color: #f38695;
    display: block;
    margin-top: 5px;
}
